.board-dropdown {
    width: 10rem;
    height: 2.5rem;
    background-color: #48545b;
}
.board-dropdown::after {
    vertical-align: 0.125rem;
}

.upload-image {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
}

.upload-image input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}