body {
    min-height: 100vh;
    display: flex;
}

.main-content {
    margin-left: 230px; 
    width: 100%;
    padding: 20px;
}

.side-bar {
    width: 230px; 
    height: 100vh; 
    position: fixed; 
    overflow-y: auto;
}

.content-container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.award-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
}
.award-img {
    max-width: 60px;
    max-height: 60px;
}

.mini-trophy-case {
    background-color: white;
    border: solid 1px gray;
}

.vs-img {
    height: 100px;
    width: auto;
}