.post {    
    color: white;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, #8d00e9, #ff2aee) border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    width: calc(100% - 1rem);
    margin-left: 0.5rem;
}

.post-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vote-count {
    margin: 10px;
}

.like-container {
    display: flex;
    border-radius: 10px;
    border: 2px solid #8d00e9;
    align-items: center;
    cursor: default;
    z-index: 1;
}

.dislike-container {
    display: flex;
    border-radius: 10px;
    border: 2px solid #ff2aee;
    align-items: center;
    margin-top: 5px;
    cursor: default;
}

/* container for both like buttons */
.like-buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* controls appearance of single like button */
.like-button {
    background: transparent;
    border: none;
    fill: black;
    width: 40px;
    height: 40px;
}

.post-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    line-height: 2rem;
}

.post-info h1 {
    font-size: 1.5rem;
    color: #ff2aee;
    text-decoration: none;
    font-weight: bold;
}

.post-info h1:hover {
    text-decoration: underline;
}

.post-info p {
    margin-bottom: 0;
}

.board-info {
    align-self: first baseline;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    line-height: 2rem;
}

.board-info a {
    color: white;
    text-decoration: none;
}

.board-info a:hover {
    text-decoration: underline;
}