.post-container {
    display: flex;
    flex-direction: column;
    
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 1 auto;

    position: relative;
    width: 70vw;
    height: 90vh;
    padding-bottom: 2rem;
    align-items: center;
    color: white;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, #8d00e9, #ff2aee) border-box;
    border-radius: 4px;
    border: 2px solid transparent;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 65vw;
    margin-top: 2rem;
}

.comment-form button {
    color: black;
    background: linear-gradient(to left, #ff2aee, #8d00e9) padding-box,
    linear-gradient(to right, #ff2aee, #8d00e9) border-box;
    border-width: 2px;
}

.comment-form button:hover {
    color: white;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to top, #ff2aee, #8d00e9) border-box;
    border-width: 2px;
}

.post-content {
    width: 65vw;
    height: auto;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, #8d00e9, #ff2aee) border-box;
    border-radius: 2px;
    border: 2px solid transparent;
    margin-top: 2rem;
    padding: 1rem;
}

.post-header {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-shrink: 0;
    width: 65vw;
    height: 15vh;
    color: white;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    border-style: none none solid none;
    border-width: 2px;
    border-image: linear-gradient(to right, #8d00e9, #ff2aee) 1;
}

.post-info {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 3rem;
}

.post-header h {
    font-size: 2rem;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.comment-header {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 65vw;
    height: 8vh;
    color: white;
    flex-direction: row;
    margin-left: 1rem;
    margin-right: 1rem;
    border-style: none none solid none;
    border-width: 2px;
    border-image: linear-gradient(to right, #8d00e9, #ff2aee) 1;
}

.comment-header h {
    font-size: 2rem;
    vertical-align: middle;
}

.comment-container {
    display: flex;
    width: 65vw;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 1rem;
    flex-shrink: 0;
    overflow-y: auto;
}

.comment {
    width: 100%;
    margin-top: 1rem;
    border-style: none none solid none;
    border-width: 1px;
    border-image: linear-gradient(to right, #8d00e9, #ff2aee) 1;
}