.login-style {
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to top, #ff2aee, #8d00e9) border-box;
    border-width: 2px;
}

.login-style h3 {
    color: white;
}

.login-logo {
    margin: 30px;
}

.login-style label {
    color: white;
}

.login-button:hover {
    color: white;
    background: linear-gradient(black, black) padding-box,
    linear-gradient(to top, #ff2aee, #8d00e9) border-box;
    border-width: 2px;
}

.login-button {
    color: black;
    background: linear-gradient(to left, #ff2aee, #8d00e9) padding-box,
    linear-gradient(to right, #ff2aee, #8d00e9) border-box;
    border-width: 2px;
}